.post {
  background-color: #fff;
  padding: 15px;
  margin-bottom: 10px;
  border-radius: 10px;
}

.post__header {
  display: flex;
  margin-bottom: 10px;
}

.post__info {
  margin-left: 10px;
}

h1 {
  margin: 0;
}

.post__info > p {
  margin: 0;
  color: grey;
}

.post__buttons {
  display: flex;
  justify-content: space-between;
}

.post__button {
  background-color: rgb(233, 231, 231);
  border-radius: 2px;
  
}
