.sidebar {
  position: sticky;
  top: 80px;
  flex: 0.2;
  border-radius: 10px;
  text-align: center;
  height: fit-content;
  background-color: white !important;
  margin: 10px;
}

.sidebar__avatar {
  margin-bottom: 10px;
}

.sidebar__top {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 0.1px solid lightgrey;
  border-top-left-radius: 10px; 
  border-top-right-radius: 10px;
  background-color: rgb(255, 255, 255) ;
  padding-bottom: 10px;
}

.sidebar__top > h4{ 
    color: grey;
    font-size: 13px;
}

.sidebar__top > img {
  margin-bottom: -20px;
  width: 100%;
  height: 60%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  object-fit: cover;
}

.sidebar__stats{
    padding: 10px; 
    margin-bottom: 10px; 
    border: 1px solid lightgrey;
    border-bottom-right-radius: 10px;
    border-bottom-left-radius: 10px;
}

.sidebar__stat{
    margin-top: 10px; 
    display: flex;
    justify-content: space-between;
}

.sidebar__stat > p {
     color: grey; 
     font-size: 13px; 
     font-weight: 600;
}

.sidebar__statNumber{ 
    font-weight: bold;
    font-size: 15px; 
    color: #0a66c2 !important; 
}


.sidebar__bottom{ 
  text-align-last: left;
  padding: 10px; 
  border: 1px solid lightgrey;
  border-radius: 10px;
  background-color: #fff;
  margin-top: 10px;
} 

.sidebar__recentItem{
  display: flex;
  font-size: 13px;
  color: rgb(170, 170, 170);
  font-weight: bolder;
  cursor:pointer;
  /* margin-bottom: 5px; */
}

.sidebar__recentItem:hover{
   background-color: whitesmoke;
   color: black;
   cursor: poitner; 
   border-radius: 10px;
}

.sidebar__hash{
   margin-right: 10px;
   margin-left: 5px;
}